html
    body
        .container
            max-width: 80%
            width: 1000px
            margin: 175px auto
            background-color: #eaeaea
            padding: 0 15px 30px 15px

            #profile-image
                width: 200px
                margin: 0 auto 8px auto

                img
                    width: 200px
                    height: 200px
                    margin: -100px auto 0 auto
                    border-radius: 50%

            h1, h3
                font-family: Roboto
                font-weight: 300
                text-align: center
                margin: 0

            h3
                margin-bottom: 30px

            .section
                padding: 0 15px

                h2
                    margin: 0
                    font-family: Roboto

                p
                    margin: 0.5em auto
                    font-family: Roboto
                    line-height: 1.5em

                    a
                        text-decoration: none
                        color: #b62a22

                        &:hover
                            text-decoration: underline
